{% extends 'base.html.twig' %}

{% block title %}
	Home
{% endblock %}

{% block body %}
	<h1>Modification de plat</h1>
	{{form_start(form)}}
	{{form_widget(form)}}
	<input type="submit" value="modifier le plat">
	{{form_end(form)}}
{% endblock %}
